---- || GENERAL STYLES-----*/

* {
  margin: 0;
  padding: 0;
}

body{
	font-size: 1rem;
	font-family: adobe-garamond-pro, serif;
	font-style: normal;
	font-weight: 400; 
	margin: 0
	
}

li {
  	list-style: none;
}


a:link {
  	color: red;
}

a:visited {
  	color: red;
}

a:hover,
a:focus{
	color: initial;
}

h1{
	font-size: 3rem;
	font-family: adobe-garamond-pro, serif;	
}


img{
  max-width: 100%;
  height: auto;
	display: block;
}

ul{
	padding-left: 0;
}

/*---- || HEADER-----*/
header {
	padding: 1em 2em 0 2em;
	text-align: center;
}

.header-logo {
	float: none; 
}

.header-logo img{
		max-width: 20%;
	}

.header-nav ul{
display: flex;
  float: none;
	padding: 1em 0;
	justify-content: center;
	border-bottom: 0.063rem solid rgba(0,0,0,0.2);
	
}

.header-nav li{
	margin: 0 .8em;
	text-transform: uppercase;
}

.header-nav li a{
	color: black;
	text-decoration: none;
}

.header-nav li a:hover{
	color: red;
}

@media(min-width: 600px){

header {
	padding-bottom: 4.5em;
}
	
.header-logo {
	cursor: pointer;
	float: left;
}
	
	.header-logo img{
		max-width: 100%;
	}
	
	.header-nav ul{
  float: right;
	padding: 1em 0;
	justify-content: center;
	border-bottom: none;
}	
}

/*--- Home Page ---*/

.content{
 max-width: 1200px;
 width: 95%;
 margin: auto;
}

.home-heading{
	margin-bottom: 0;
}

.nav-social{
	font-size: 1.5rem;
	margin: 2em 0;
}

.nav-social>a{
	text-decoration: none;
}

.home-recent-list{
	border-bottom: 0.063rem solid rgba(0,0,0,0.2);
	padding-left: 0;
}

.home-recent-list li{
	border-top: 0.063rem solid rgba(0,0,0,0.2);
  padding: 3em 0; 
}

.home-recent-list li{
	display: flex;
	flex-direction: column;
}

.home-recent-list  p{
	font-size: 1rem;
	padding-left: 0em;
	width: 100%;
	margin: auto;

}

span{
	width: 100%;
}

.home-bottom-nav{
	margin: 2em 0 2.5em 0;
}

.footer-background{
	background: black;
	padding-top: 3em;
}

footer{
	margin: 0 2em 0em 2em;
	
}

.footer-contact{
	float: right;
}

footer>a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}


/*--- Article ---*/




@media (min-width: 600px){
	
	 .content{
	 width: 85%;
	}
	
	h1{
		font-size: 4.5rem;
	}
	
	.home-recent-list>li{
		display: flex;
		flex-direction: row;
	}
	
	
	.home-recent-list>li>p{
	font-size: 1.5rem;
	padding-left: 2em;
	width: 60%;
	}

	span{
		width: 40%;
	}
	
}
/*--- Map Project ---*/

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
}).addTo(mymap);